/*
 * AudioBufPlayer.css version 0.1.0
 *   This is default style for components of AudioBufPlayer.
*/

/*  main body  */
div[name='audio-buf-player'] {
  border:1px solid #8F8F8F;
  box-shadow: 1px 1px 1px #CFCFCF;
  background-color:#F4F4F4;
  position:relative;
  padding:4px;
}

/*  Common settings of each element  */
div[name='audio-buf-player'] span {
  display:inline-block;
}

/*  button  */
div[name='audio-buf-player'] span[name='audio-buf-player-button-start']{
  width:10%;
  height:100%;
  background-image:URL('image/play_green.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
div[name='audio-buf-player'] span[name='audio-buf-player-button-start']:hover{
  background-image: URL('image/play_red.png');
}
div[name='audio-buf-player'] span[name='audio-buf-player-button-start'].running{
  background-image: URL('image/pause_green.png');
}
div[name='audio-buf-player'] span[name='audio-buf-player-button-start'].running:hover{
  background-image: URL('image/pause_red.png');
}
div[name='audio-buf-player'] span[name='audio-buf-player-button-stop']{
  width:10%;
  height:100%;
  background-image:URL('image/stop_green.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:left;
}
div[name='audio-buf-player'] span[name='audio-buf-player-button-stop']:hover{
  background-image: URL('image/stop_red.png');
}

/*  indicator  */
div[name='audio-buf-player'] span[name='audio-buf-player-bar']{
  width:50%;
  height:50%;
  vertical-align:top;
  border:1px solid #7E7E7E;
  background-color:#E3E3E3;
  margin-top:12px;
}
div[name='audio-buf-player'] span[name='audio-buf-player-bar'] span[name='inner']{
  width:0%;
  height:100%;
  vertical-align:top;
  background-color:#FFFFFF;
}
div[name='audio-buf-player'] span[name='audio-buf-player-bar'] span[name='loading-msg']{
  text-align:center;
  width:100%;
  height:100%;
}

/*  time displayer  */
div[name='audio-buf-player'] span[name='audio-buf-player-time']{
  width:20%;
  vertical-align:top;
  text-align:center;
  height:50%;
  margin-top:16px;
}

/* animation */
div[name='audio-buf-player'].loading{
  animation-name:change-opacity;
  animation-duration:1.5s;
  animation-timing-function:ease-out;
  animation-iteration-count:infinite;
}
div[name='audio-buf-player'] span[name='audio-buf-player-bar'] span[name='loading-msg'].loading{
  animation-name:flush-loading;
  animation-duration:0.08s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
}

@keyframes change-opacity{
  0% {
    opacity:0.1;
  }
  50% {
    opacity:1.0;
  }
  100% {
    opacity:0.0;
  }
}
@keyframes flush-loading{
  0% {
    opacity:1.0;
    color:#fafafa;
  }
  100% {
    opacity:1.0;
    color:#232323;
  }
}


/** You need to adjust about below style when you use this on your application. **/
div[name='audio-buf-player'] {
  width:500px;
  height:50px;
}
div[name='audio-buf-player'] spanspan[name='audio-buf-player-bar']{
  margin-top:12px;
}
div[name='audio-buf-player'] spanspan[name='audio-buf-player-time']{
  margin-top:16px;
}

